[Unit]
Description=Start Paranoid VPN on Boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/paranoid-vpn/paranoid-vpn.sh --wg-conf /etc/wireguard/wg0.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
